/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use './styles/fonts/' as *;
@use './styles/mixins/' as *;
@use './styles/theme-colors' as theme-colors;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: theme-colors.$primary-palette,
      tertiary: theme-colors.$secondary-palette,
    ),
    typography: Roboto,
    density: 0,
  ),
  $overrides: theme-colors.$overrides
  );
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
